/build
/dev/netbeans/*/nbproject/private
/src/.bzr
/src/*.bzrignore
/src/help/cshelp.h

# NB bug :: should be placed into a nbproject/private folder:
/dev/netbeans/*/nbproject/*.mk
/dev/netbeans/*/nbproject/*.bash